doctype html 
html(lang='en')
	head
		meta(charset="utf-8")
		title Testing Jade and CoffeeScript
		link(rel="stylesheet",href="styles/style.css")
		script(src="scripts/main.js")

	body
		.wrapper
			h1 Jade Test!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error debitis maxime tempore accusamus hic. Praesentium laboriosam reiciendis doloribus quas officiis. Tenetur ratione nulla voluptas illum vel itaque quam excepturi optio.

